.footer-section {
    background: #222;
    color: #000000;
}

.footer-section h6 {
    color: #000000;
    letter-spacing: 1px;
    font-size: 1.1rem;
}

.footer-section ul {
    padding-left: 0;
}

.footer-section li {
    margin-bottom: 0.5em;
}

.footer-section a,
.footer-section li {
    color: #000000;
}

.footer-section a:hover {
    color: #0d6efd;
}

.footer-section .text-muted {
    color: #000000 !important;
}

.footer-section .small {
    font-size: 0.95em;
}